/* Example CSS styles for MP3 player */
#mp3-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #1f2125;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#progress-bar {
  top: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #585e66;
  display: flex;
}
#progress-bar span {
  position: relative;
  background-color: white;
  width: 1%;
  height: 3px;
}
#progress-bar span::after {
  content: "";
  position: absolute;
  top: -220%;
  right: -1.5%;
  width: 18px;
  height: 18px;
  background-color: var(--blue);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
#progress-bar span:hover:after {
  border-radius: 1%;
}

.controls {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  position: relative;
}

#Mp3time,
#timer {
  user-select: none;
}
#next,
#play,
#before {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
#next:hover,
#play:hover,
#before:hover {
  background-color: #585e66;
  border-radius: 50%;
}

#download_btn {
  cursor: pointer;
}
